# coding: utf-8
SQLALCHEMY_DATABASE_URI = 'sqlite:///dev.db'#SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://postgres@localhost/myojin'
SQLALCHEMY_ECHO = False
#HTTP_HOST = "192.168.218.136"
#HTTP_HOST = "192.168.1.4"
HTTP_HOST = "0.0.0.0"
HTTP_PORT = 5000
DEBUG = True
USE_X_SENDFILE = False
SECRET_KEY = '\n\x9e\x96\xdas\xe5\xd5D\x85\xc8\xa8\x82$\x1b\xdeq<\x1978\n\x9e\xba\xc6'
STORAGE_ROOT = 'storage'

HMAC_KEY = "AiUp9Nk3n91jQpw"

MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = 587
#MAIL_PORT = 465
MAIL_USE_TLS = True
MAIL_USE_SSL = True
MAIL_USERNAME = "yuiseki@cerevo.com"
MAIL_PASSWORD = "yomei0410"
DEFAULT_MAIL_SENDER = "support@filejet.com"

THUMBNAILS = ((50, 'square'), (70, 'square'), (800, 'aspect'),)
THUMBNAIL_NAMES = {'square': 'sq_thumb_%s', 'aspect': 'thumb_%s'}

BEAKER_SETTINGS = {
            #'session.type':'ext:memcached', # for memcache storage
            #'session.url':'127.0.0.1:11211', # for memcache

            'session.type':'file', # for file storage
            'session.data_dir':"/tmp/myojin_session", # for file session

            'session.lock_dir': '/tmp/container_mcd_lock',
            'session.key':"ABC", # cookie name
            'session.secret':'AAA',# TODO should be RANDOM
            'session.cookie_expires':False, # TODO set True
}

POST_DEBUG = True
EXTERNAL_CONFIG = {
    'flickr_apikey': 'a4705e719f0333e4b2850f7abdb27cd4',
    'flickr_secret': '2080b331d022fbfb',
    'dropbox_apikey': 'j2xnfioekxgj5mf',
    'dropbox_secret': 'bq3oqnpbg7jsfei',
    'evernote_apikey': 'gignosystem',
    'evernote_secret': 'd6bb3c8c00647fca',
    # TODO 開発用tokenです filejet用に書き換える必要アリ
    'twitter_apikey': 'AwTzL0NhAJDCTwnYqfn6ew',
    'twitter_secret': '5XhCuKvMELWgouhZbSfTiqbiHqPhxSjdciSBhbkyDzY',
    'minpoke_company_id': 'cerevo',
    'minpoke_service_id': 'cerevo',
    # TODO 開発用tokenです filejet用に書き換える必要アリ
    'youtube_devkey': 'AI39si4AHvAW4P0JX6XW0ozymiHWYDuyxYoZKbIsS3RD_1oKyD86-6onOt4zpqIb0TuLdDstPjpFDWyBcGV_lAGtvTfRyV6EpQ',
    'youtube_clientid': 'Filejet'
}


from collections import OrderedDict
ADMIN_MENU = OrderedDict()
ADMIN_MENU['/admin/rum'] = u'データベースを参照する'
ADMIN_MENU['/admin/exit_force'] = u'強制退会'
ADMIN_MENU['/admin/exit_q'] = u'退会アンケート管理'
ADMIN_MENU['/admin/hello_goodbye'] = u'入退会管理'
ADMIN_MENU['/admin/permission'] = u'権限管理'
ADMIN_MENU['/admin/allow_ip_address'] = u'対管理画面IPアクセス管理'
ADMIN_MENU['/admin/usage_csv'] = u'利用動向CSV'
ADMIN_MENU['/admin/maintenance'] = u'メンテナンス設定'
def make_sub_menus(*menus):
    sub = OrderedDict()
    for (url, text) in menus:
        sub[url]= text
    return sub

ADMIN_SUB_MENU = OrderedDict()
ADMIN_SUB_MENU['/admin/rum'] = make_sub_menus(
    ('/admin/rum/faqs', u'よくある質問'),
    ('/admin/rum/faqcategories', u'よくある質問カテゴリー'),
    ('/admin/rum/systemnewses', u'お知らせ')
)

import os
USAGE_CSV_OUTPUT_TOP_LEVLE_PATH = os.path.dirname('/Users/KunimasuHitoshi/csv/')

WEB_APP_SERVERS = (
    #ここに本番運用のアプリサーバーIPを書く (ループバックはいらない)
    #例)
    #('172.16.1.10', 80),
)
MAINTENANCE_FILE_PATH = os.path.dirname('/data/srv/nts/app/') + '/maintenance_data'
WSGI_FILE_PATH = os.path.dirname('/data/srv/nts/app/') + '/wsgi_dev.py'

MOVIE_THUMB_SECONDS = 2
MOVIE_SPLITE_BLOCK_NUM = 4
TRANSCODE_MOVIE_EXT = 'flv'
TRANSCODE_MOVIE_FORMAT = 'flv'# default mp4
